@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.buzz {
  animation: buzz 1s ease infinite;
}

@keyframes buzz {
  20%, 50%, 80% {
    transform: translate(0px);
  }
  40% {
    transform: translate(-45px);
  }
  60% {
    transform: translate(-25px);
  }
}
